<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/static/icon.svg" />

</head>

<body>
  {% include '_navbar.html' %}


  <div class="container mt-4">
    <h1>About the App</h1>
    <p class="lead">Maps'n'match is a Mix'n'Match extension for catalogs wth coordinates. It allows you to visualize and
      navigate
      the coordinates of the items in a particular catalog on a map.</p>
    <p class="mb-2">Written by <a href="https://tiago.bio.br" target="_blank">Tiago
        Lubiana</a>.</p>
    <p class="mb-2">GitHub Repository: <a href="https://github.com/lubianat/maps-n-match"
        target="_blank">https://github.com/lubianat/maps-n-match</a></p>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>