<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/static/icon.svg" />

</head>

<body>
  {% include '_navbar.html' %}


  <div class="container mt-4">
    <h1>About the App</h1>
    <p class="lead">This Flask application allows users to select a city and view birding hotspots in that area on a
      map. It retrieves hotspot data from the eBird API and provides additional information from Wikidata when
      available. The app also helps users curate hotspots that are missing on Wikidata, which are shown in red on the
      map.</p>
    <p class="mb-2">Written by <a href="https://www.wikidata.org/wiki/User:TiagoLubiana" target="_blank">Tiago
        Lubiana</a>.</p>
    <p class="mb-2">GitHub Repository: <a href="https://github.com/lubianat/wikidata_ebird_maps"
        target="_blank">https://github.com/lubianat/wikidata_ebird_maps</a></p>
    <p class="mb-2">For those active on iNaturalist, check out the related tool <a
        href="https://inat2wiki.toolforge.org/" target="_blank">https://inat2wiki.toolforge.org/</a>.</p>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>